.content {
  font-family: "Courier New", Courier, monospace;
}

.table {
  text-align: center;
}

.table td {
  padding: 1rem;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.table th {
  padding: 1rem;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.table th:first-child,
.table td:first-child {
  border-left: 1px solid white;
}

.actionButtons {
  color: blue;
  cursor: pointer;
}

.actionButtons:first-child {
  border-top: 1px solid white;
}
