<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Data Source=localhost;Initial Catalog=DrivingExams21;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>

		 <add key="ParentTableName" value="Categories"/>
		<add key="ChildTableName" value="StudentsDrivingLicenses"/>
		<add key="SelectChild" value="select * from StudentsDrivingLicenses"/>
		<add key="SelectParent" value="select * from Categories"/>
		<add key="ChildForeignKey" value="Category"/>
		<add key="ParentReferencedKey" value="Category"/>
		<add key="ForeignKey" value="FK_StudentsDrivingLicenses_Category"/>

		<!--<add key="ParentTableName" value="Instructors"/>
		<add key="ChildTableName" value="Vehicles"/>
		<add key="SelectChild" value="select * from Vehicles"/>
		<add key="SelectParent" value="select * from Instructors"/>
		<add key="ChildForeignKey" value="InstructorCNP"/>
		<add key="ParentReferencedKey" value="CNP"/>
		<add key="ForeignKey" value="FK_InstructorId"/>-->
	</appSettings>
</configuration>