.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.addUserForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.addUserForm > input {
  max-width: 200px;
}

.sendButton {
  display: flex;
  justify-content: center;
}
